.content {
    padding: 16px;
}

.content>mat-card {
    margin-bottom: 16px;
}

h1 {
    text-align: center;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20pt;
}